<div class="mt-4">
    <form method="post" action="caro">
        <div class="row">
            <div class="col-sm">
                <label for="username">Tên ngưởi chơi:</label>
                <input type="text" class="form-control" id="username">
            </div>
            <div class="col-sm">
                <label for="username">Room Id:</label>
                <input type="text" class="form-control" id="room">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm">
                <button type="submit" class="btn btn-primary">Join Game</button>
            </div>
            <div class="col-sm">
            </div>
        </div>
    </form>
</div>