<div id="grid" class="mt-4 container">
    <form action="" method="post" class="form login">
        <div class="form__field">
            <label for="login__username">
                <span class="oi oi-person"></span>
            </label>
            <input id="login__username" type="text" name="username" class="form__input" placeholder="Username" required />
        </div>
        <div class="form__field">
            <label for="login__email">
                <span class="oi oi-envelope-closed"></span>
            </label>
            <input id="login__email" type="text" name="email" class="form__input" placeholder="Email" required />
        </div>
        <div class="form__field">
            <label for="login__password">
                <span class="oi oi-lock-locked"></span>
            </label>
            <input id="login__password" type="password" name="password" class="form__input" placeholder="Password"
                required />
        </div>
        <div class="form__field">
            <label for="login__repassword">
                <span class="oi oi-lock-locked"></span>
            </label>
            <input id="login__repassword" type="password" name="repassword" class="form__input"
                placeholder="Re-type password" required />
        </div>
        <div class="form__field">
            <input type="submit" value="Sign Up">
        </div>
    </form>
</div>